<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Vista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="ion-padding status-panel" aria-live="polite">
    <div class="logo-wrapper">
      <img src="assets/Logo_VISTA.png" alt="Vista logo" class="vista-logo" />
    </div>
    <h1>NFC Audio Reader</h1>
    <p class="status">{{ statusMessage }}</p>

    <p><strong>Last NFC card:</strong> {{ lastTagId }}</p>

    <ion-button expand="block" (click)="openNfcSettings()" [disabled]="nfcEnabled">
      Open NFC Settings
    </ion-button>
  </section>
</ion-content>
